<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">

        <div id="app">
            <h1>Ma boulangerie</h1>

            <button v-on:click="ajax()">Afficher la liste des gateaux</button>


            <template>
                <div class="table-responsive">
                    <table class="table-hover" v-if="info">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Couleur</th>
                                <th>Ingredient p</th>
                                <th>Date f</th>
                                <th>Poids</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in info">
                                <td>{{ item.id }}</td>
                                <td>{{ item.nom }}</td>
                                <td>{{ item.couleur }}</td>
                                <td>{{ item.ingredient_p }}</td>
                                <td>{{ item.date_f }}</td>
                                <td>{{ item.poids }}</td>

                            </tr>
                        </tbody>
                    </table>
                    <br><a target="_blank" href="http://localhost/boulangerie/formGateau"><button v-on:click="ajax(nom)">Ajouter un gateau</button></a>
                </div>
            </template>
        </div>

    </div>




    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: null,
                    message: '',
                }
            },
            methods: {
                ajax: function (event) {
                    axios({
                        method: 'get',
                        url: 'http://localhost/boulangerie/index.php/gateaux?nom=',
                        responseType: 'json',
                    })
                        .then(async res => {
                            if (res.status === 200) {
                                alert('Affichage de la liste des gateaux...');
                                this.info = res.data;
                            } else if (res.status === 400) {
                                let errorResponse = await res.json(); this.errors.push(errorResponse.error);
                            }
                        })
                }
            }
        })
    </script>

</body>